<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<configSections>
		<section name="FineUIPro" type="FineUIPro.ConfigSection, FineUIPro" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<clear />
		<add name="SQLServer" connectionString="Password=123;Persist Security Info=True;User ID=valqua;Initial Catalog=MES_R1;Data Source=172.25.128.110;Pooling=true;Max Pool Size=1000;Min Pool Size=0;Connect Timeout=1200;" providerName="System.Data.SqlClient" />
		<add name="Yifei_DTA_Entities" connectionString="metadata=res://*/Lf_Business.Models.YF.Yifei_DTA_Model.csdl|res://*/Lf_Business.Models.YF.Yifei_DTA_Model.ssdl|res://*/Lf_Business.Models.YF.Yifei_DTA_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fs03;initial catalog=Yifei_DTA;user id=YiFei;password=Tac26901333.;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Yifei_TAC_Entities" connectionString="metadata=res://*/Lf_Business.Models.YF.Yifei_TAC_Model.csdl|res://*/Lf_Business.Models.YF.Yifei_TAC_Model.ssdl|res://*/Lf_Business.Models.YF.Yifei_TAC_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fs03;initial catalog=Yifei_TAC;user id=YiFei;password=Tac26901333.;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="LeanSerial_Entities" connectionString="metadata=res://*/Lf_Business.Models.YF.LeanSerial_Model.csdl|res://*/Lf_Business.Models.YF.LeanSerial_Model.ssdl|res://*/Lf_Business.Models.YF.LeanSerial_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fs03;initial catalog=LeanSerial;user id=Serial;password=Tac26901333.;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<FineUIPro DebugMode="true" />
	<appSettings>
		<!--<add key="Flag" value="1" /> -->
		<!-- 0:中文; 1:英文-->
		<!-- 判断上传附件大小-->
		<add key="FileSizeLimit" value="20971520" />
	</appSettings>
	<system.web>
		<globalization uiCulture="en-US" culture="en-US" enableClientBasedCulture="false" />
		<pages controlRenderingCompatibilityVersion="4.0" validateRequest="false" clientIDMode="AutoID">
			<controls>
				<add assembly="FineUIPro" namespace="FineUIPro" tagPrefix="f" />
			</controls>
		</pages>
		<httpModules>
			<add name="FineUIProScriptModule" type="FineUIPro.ScriptModule, FineUIPro" />
		</httpModules>
		<httpHandlers>
			<add verb="GET" path="res.axd" type="FineUIPro.ResourceHandler, FineUIPro" validate="false" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<buildProviders></buildProviders>
		</compilation>
		<customErrors mode="Off" />
		<authentication mode="Forms">
			<forms name=".LEAN_FORMS_AUTH" loginUrl="~/default.aspx" timeout="3600" defaultUrl="~/main.aspx" protection="All" path="/" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<!--<globalization culture="zh-TW" uiCulture="zh-TW" />-->
		<httpRuntime targetFramework="4.8" maxRequestLength="20971520" maxUrlLength="2097151" executionTimeout="3600" delayNotificationTimeout="3600" requestValidationMode="2.0" />
	</system.web>
	<location path="icon">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="res">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="res.axd">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBindDdl xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<BindDdlRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<BindDdlRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<BindDdlRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
				<BindDdlRedirect oldVersion="0.0.0.0-3.13.0.0" newVersion="3.13.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<BindDdlRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<BindDdlRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<BindDdlRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			</dependentAssembly>
		</assemblyBindDdl>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing.Common" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="A7D26565BAC4D604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.13.0.0" newVersion="3.13.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0E99375E54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.13.0.0" newVersion="3.13.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<!--集成模式的典型配置-->
		<modules>
			<add name="FineUIProScriptModule" type="FineUIPro.ScriptModule, FineUIPro" />
		</modules>
		<handlers>
			<add name="FineUIProResourceHandler" verb="GET" path="res.axd" type="FineUIPro.ResourceHandler, FineUIPro" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="20971520" maxAllowedContentLength="20971520" />
				<hiddenSegments>
					<add segment="Lean" />
				</hiddenSegments>
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>